
@{
    ViewBag.Title = "Austrailia";
}

<link href="~/Content/map_aus.css" rel="stylesheet" />

<h2>Austrailia</h2>

<div id="map">

    <input type="hidden" id="mapId" value="3" />

    <div class="province" id="prov0">1<br />WA</div>
    <div class="province" id="prov1">2<br />NT</div>
    <div class="province" id="prov2">3<br />QLD</div>
    <div class="province" id="prov3">4<br />SA</div>
    <div class="province" id="prov4">5<br />NSW</div>
    <div class="province" id="prov5">6<br />VCT</div>
    <div class="province" id="prov6">7<br />TAS</div>

</div>
