
@{
    ViewBag.Title = "Canada";
}


<link href="~/Content/map_canada.css" rel="stylesheet" />

<h2>Canada</h2>

<div id="map">

    <input type="hidden" id="mapId" value="4" />

    <div class="province" id="prov0">1<br />YUK</div>
    <div class="province" id="prov1">2<br />NWT</div>
    <div class="province" id="prov2">3<br />NUN</div>
    <div class="province" id="prov3">4<br />BC</div>
    <div class="province" id="prov4">5<br />ALB</div>
    <div class="province" id="prov5">6<br />SAS</div>
    <div class="province" id="prov6">7<br />MTB</div>
    <div class="province" id="prov7">8<br />ONT</div>
    <div class="province" id="prov8">9<br />QBC</div>
    <div class="province" id="prov9">10<br />NB</div>
    <div class="province" id="prov10">11<br />N&L</div>
    <div class="province" id="prov11">12<br />NS</div>

</div>