
@{
    ViewBag.Title = "Pakistan";
}

<link href="~/Content/map_pakistan.css" rel="stylesheet" />

<h2>Pakistan</h2>

<div id="map">

    <input type="hidden" id="mapId" value="1" />

    <div class="province" id="prov0">1<br />GB</div>
    <div class="province" id="prov1">2<br />KPK</div>
    <div class="province" id="prov2">3<br />PUN</div>
    <div class="province" id="prov3">4<br />BAL</div>
    <div class="province" id="prov4">5<br />SDH</div>

</div>