
@{
    ViewBag.Title = "SA";
}

<link href="~/Content/map_sa.css" rel="stylesheet" />

<h2>South Africa</h2>

<div id="map">

    <input type="hidden" id="mapId" value="2" />

    <div class="province" id="prov0">1<br />LIM</div>
    <div class="province" id="prov1">2<br />NW</div>
    <div class="province" id="prov2">3<br />GAU</div>
    <div class="province" id="prov3">4<br />MPU</div>
    <div class="province" id="prov4">5<br />NC</div>
    <div class="province" id="prov5">6<br />FS</div>
    <div class="province" id="prov6">7<br />KZN</div>
    <div class="province" id="prov7">8<br />WC</div>
    <div class="province" id="prov8">9<br />EC</div>

</div>

